.header__nav {
  /* margin: 0 0rem; */
  /* padding: 1rem 0.6rem; */
  background-color: var(--color-secondary-variant);
  border-bottom: 1px solid var(--color-secondary);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.header__container {
  display: grid;
  grid-template-columns: 1fr 9fr;
}

.header__logo {
  margin: auto 0rem;
  align-self: center;
}

.header__content {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr;
  text-align: left;
}

.header_spacer {
  padding: 0.1rem;
}

.header__title {
  margin: auto 0rem;
  color: var(--color-primary-text);
  font-weight: bold;
  font-size: 1.2rem;
  letter-spacing: 1.2px;
}

.header__subtitle {
  margin: auto 0rem;
  color: var(--color-primary-text-variant);
  font-size: 0.7rem;
  letter-spacing: 1.4px;
}

@media (max-width: 440px) {
  .header__title {
    font-size: 1.1rem;
    letter-spacing: 1.1px;
  }
  .header__subtitle {
    font-size: 0.7rem;
    letter-spacing: 1.3px;
  }
}