.card__container {
  display: flex;
  flex-direction: column;

  border-radius: 1rem;
  border: 1px solid transparent;
  background: var(--color-primary);
  transition: var(--transition);
}

.card__container:hover {
  background: var(--color--variant);
  border-color: var(--color-primary);
  cursor: default;
  transition: var(--transition);
}

.card__header {
  padding: 0 42vw 0 0;
  /* background-size: cover !important; */
}

.card__image {
  margin: 1.2rem;
  display: flex;
  border-radius: 0.8rem;
  overflow: hidden;
  transition: var(--transition);

  height: 12vw;
  max-width: 100%;
  max-height: 100%;
  /* min-width:400px; */
  min-height: 24vw;
}

.card__image:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
}

.card__body {
  padding-top: 2rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--color-white);
}

.card__title {
  text-align: center;
  margin-bottom: 2rem;
  font-size: 1.2rem;
  color: var(--color-secondary-variant);
  color: var(--color-white);
  transition: var(--transition);
}

.card__text {
  display: flex;
  gap: 0.6rem;
  margin-left: 1rem;
  padding: 0.5rem;
  text-align: left;
}

.card__footer {
  padding: 1rem 2.2rem;
  text-align: right;
}

.card__author {
  font-size: 0.9rem;
}

.card__publishedAt {
  font-size: 0.7rem;
}

.card__action {
  text-decoration: none;
  color: var(--color-secondary);
  transition: var(--transition);
}

.card__action:hover {
  color: var(--color-primary);
  cursor: default;
  transition: var(--transition);
}
