.card {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  /* width: 80vw; */

  border-radius: 1rem;
  border: 1px solid transparent;
  /* background: var(--color-primary-variant); */
  transition: var(--transition);
}

.card:hover {
  background: var(--color-primary-variant);
  border-color: var(--color-primary-text);
  cursor: default;
  transition: var(--transition);
}

.card__image {
  margin: 1.8rem;
  display: flex;
  border-radius: 0.8rem;
  background: var(--color-primary-text);
  overflow: hidden;
  transition: var(--transition);

  height: 24vh;
  width: 24vw;
  /* max-width: 100%; */
  /* max-height: 100%; */
  min-width: 24vw;
  min-height: 24vh;
}

.card__image:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
  cursor: pointer;
}

.card_container {
  padding-top: 1.2rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--color-primary-text-variant);
}

.card__header {
  padding: 0 0 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 6fr;
  /* background-size: cover !important; */
}

.card__author {
  font-size: 0.8rem;
}

.card__publishedAt {
  font-size: 0.7rem;
}

.card__body {
  font-size: 0.9rem;
  height: 18vh;
  /* width: 40vw; */
}

.card__title {
  text-align: left;
  margin-bottom: 1.6rem;
  font-size: 1.3rem;
  font-weight: bold;
  /* color: var(--color-secondary-variant); */
  color: var(--color-primary-text);
  transition: var(--transition);
  cursor: pointer;
}

.card__text {
  display: flex;
  /* gap: 0.6rem; */
  /* margin-left: 1rem; */
  /* padding: 0.5rem; */
  text-align: left;
  cursor: pointer;
}

.card__footer {
  margin: 1.6rem 0;
  /* padding: 1rem 2.2rem; */
  text-align: left;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}

.card__tags_title {
  margin: 1rem 0;
  font-size: .9rem;
}

.card__tag {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
  font-size: .8rem;
  color: var(--color-primary-text-variant);
  border: 1px solid var(--color-secondary-text);
  background-color: var(--color-secondary-text-variant);
  border-radius: 2px;
  opacity: 0.7;
  transition: opacity 0.4s;
  /* cursor: pointer; */
}

.card__action {
  text-decoration: none;
  color: var(--color-secondary-text);
  transition: var(--transition);
}

.card__action:hover {
  color: var(--color-primary);
  cursor: default;
  transition: var(--transition);
}
