.card {
  /* display: flex; */
  /* flex-direction: row; */
  display: grid;
  grid-template-columns: 1fr 3fr;
  gap: 0.5rem;
  /* width: 80vw; */
  margin: 0rem;
  padding: 0.6rem;

  border-radius: 0.6rem;
  border: 0.5px solid transparent;
  /* background: var(--color-primary-variant); */
  transition: var(--transition);
}

.card:hover {
  /* background: var(--color-primary-variant); */
  border-color: var(--color-primary-text);
  cursor: default;
  transition: var(--transition);
}

.card__image {
  margin: 0.8rem 0.8rem;
  padding: 0rem;
  display: flex;
  border-radius: 0.8rem;
  background: var(--color-primary-text);
  overflow: hidden;
  transition: var(--transition);

  max-width: 48vh;
  height: 32vh;
  min-height: 32vh;
  min-width: 32vw;
}

.card__image:hover {
  -ms-transform: scale(1.04); /* IE 9 */
  -webkit-transform: scale(1.04); /* Safari 3-8 */
  transform: scale(1.04);
  cursor: pointer;
}


.card_container {
  display: flex;                   /* defines flexbox */
  flex-direction: column;          /* top to bottom */
  justify-content: space-between;  /* first item at start, last at end */
  min-height: 32vh;

  padding-top: 1.2rem;
  line-height: 1.1rem;
  font-size: 0.9rem;
  color: var(--color-primary-text-variant);
}

.card__header {
  padding: 0 0 0 0;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-right: 1rem;
  background-size: cover !important;
  /* display: grid; */
  /* grid-template-columns: 1fr 1fr; */
}

.card__author {
  font-size: 0.9rem;
  /* width: 32vw; */
}

.card__publishedAt {
  font-size: 0.6rem;
  /* width: 20vw; */
}

.card__body {
  font-size: 0.9rem;
  height: 18vh;
  /* width: 40vw; */
}

.card__title {
  text-align: left;
  margin-bottom: 1.6rem;

  font-size: 1.3rem;
  font-weight: bold;
  /* color: var(--color-secondary-variant); */
  color: var(--color-primary-text);
  transition: var(--transition);
  cursor: pointer;
}

.card__text {
  /* display: flex; */
  /* gap: 0.6rem; */
  /* margin-left: 1rem; */
  /* padding: 0.5rem; */
  text-align: left;
  cursor: pointer;
}

.spacer {
  padding: 1rem;
}

.card__tags {
  display: flex;
  flex-wrap: wrap;
}

.card__tag {
  padding: 0.2rem 0.2rem 0.2rem 0.2rem;
  margin: 1rem 0.5rem 0.5rem 0rem;
  font-size: .8rem;
  color: var(--color-primary-text-variant);
  border: 1px solid var(--color-secondary-text);
  background-color: var(--color-secondary-text-variant);
  border-radius: 0.3rem;
  opacity: 0.7;
  transition: opacity 0.4s;
  /* cursor: pointer; */
}

.card__action {
  text-decoration: none;
  color: var(--color-secondary-text);
  transition: var(--transition);
}

.card__action:hover {
  color: var(--color-primary);
  cursor: default;
  transition: var(--transition);
}

@media (max-width: 1200px) {
  .card {
    grid-template-columns: 1fr 1fr;
    border-radius: 0.7rem;
    border: 0.2px solid transparent;
    gap: 1rem;
    padding: 1rem;
  }
  
  .card__image {
    margin: 0.3rem 0.3rem;
    padding: 0rem;
    border-radius: 0.6rem;
    height: 32vh;
    }
}

@media (max-width: 991px) {
  .card {
    grid-template-columns: 1fr 1fr;
    border-radius: 0.6rem;
    border: 0.2px solid transparent;
  }
  
  .card__image {
    margin: 0.2rem 0.2rem;
    padding: 0rem;
    border-radius: 0.4rem;
    height: 28vh;
    }
}

@media (max-width: 768px) {
  .card {
    grid-template-columns: 1fr;
    border-radius: 0.4rem;
    border: 0.1px solid transparent;
  }

  .card__image {
    margin: 0.2rem 0.2rem;
    padding: 0rem;
    border-radius: 0.4rem;
    height: 24vh;
  }
  
}
