.header__nav {
  margin: 0 0rem;
  padding: 1rem 0.6rem;
  background-color: var(--color-secondary-variant);
  border-bottom: 1px solid var(--color-secondary);
  position: sticky;
  position: -webkit-sticky; /* For macOS/iOS Safari */
  top: 0; /* Sets the sticky toolbar to be on top */
  z-index: 100; /* Ensure that your app's content doesn't overlap the toolbar */
}

.header__nav a {
  float: top;
  text-decoration: none;
}

.header__brand {
  display: flex;
  cursor: pointer;
}

.header__brand_name {
  margin: auto 0.8rem;
  color: var(--color-primary-text);
  font-weight: bold;
  letter-spacing: 2px;
}

@media (max-width: 768px) {
  .header__nav {
    padding: 0.5rem 0.8rem;
  }

}
@media (min-width: 991px) {
  .header__nav {
    padding: 0.8rem 1rem;
  }

}

@media (min-width: 1200px) {
  .header__nav {
    padding: 1rem 2rem;
  }
}