.layout {
  margin: 2rem 1rem;
  /* padding: 1rem 1rem; */
}

@media (max-width: 1400px) {
  .layout {
    margin: 1rem 2.2rem;
    /* background-color: rgb(0, 42, 255); */
  }
}

@media (min-width: 1200px) {
  .layout {
    margin: 2rem 1.2rem;
    /* background-color: rgb(0, 174, 255); */
  }
}

@media (max-width: 991px) {
  .layout {
    margin: 1rem 0.8rem;
    /* background-color: rgb(0, 255, 106); */
  }
}

@media (max-width: 768px) {
  .layout {
    margin: 1rem 0.4rem;
    /* background-color: rgb(179, 255, 0); */
  }
}

@media (max-width: 440px) {
  .layout {
    margin: 0rem 0rem;
    /* background-color: rgb(255, 166, 0); */
  }
}