.paginator {
  display: flex;
  justify-content: center;
  align-content: center;
}

.paginator__page_number {
  padding: 0.5rem 1rem;
  margin: auto 0.5rem;

  border-radius: 2px;
  border: 1px solid transparent;
  color: var(--color-primary-text-variant);
  cursor: pointer;
  /*transition: all .2s;*/
}

.paginator__page_number:hover {
  border: 0.6px solid var(--color-primary-text);
}

.paginator__page_number__selected {
  color: var(--color-primary-text);
  border: 1px solid var(--color-primary)-text;
  background-color: var(--color-primary-variant);

  /*transition: all .2s;*/
}

.paginator__button {
  padding: 0.5rem 1rem;
  color: #12284c;
  background-color: transparent;
  border: 0;
  font-size: 1rem;
  opacity: 0.6;
  cursor: pointer;
  transition: opacity 0.2s;
}

.paginator__button:hover {
  color: var(--color-primary-text);
  border: 0.6px solid var(--color-primary-text);
  opacity: 1;
}

.paginator__button:focus {
  outline: none;
}

.paginator__button_indicator {
  color: var(--color-primary);
  font-size: 1.6rem;
}

.paginator__button_indicator .left {
  margin-right: 2rem;
}

.paginator__button_indicator .right {
  margin-left: 2rem;
}

.paginator__button_label {
  color: var(--color-primary-text);
  display: none;
}

@media (min-width: 1200px) {
  .paginator__button_label {
    display: inline-block;
  }
}