
.blogposts__container {
  text-align: center;
  height: 100%;
  position: relative;
}

.blogposts__filters {
  position: relative;
  /* border-radius: 0.6rem; */
  /* border: 1px solid var(--color-secondary-variant); */
}

/* .blogposts__filters:hover {
  border: 1px solid var(--color-secondary-text);
  border-radius: 0.6rem;
  cursor: default;
  transition: var(--transition);
} */

.blogposts__header {
  color: var(--color-secondary-text);
  font-weight: normal;
  font-size: 30px;
  padding: 1.2rem;
}

.blogposts__cards {
  display: grid;
  grid-template-columns: 1fr;
  /* gap: 1rem; */
  /* padding: 1rem; */
  margin: 0 0 0 0;
  width: 100%;

  align-content: center;
  justify-content: center;
}

.blogposts__pagination {
  padding-top: 30px;
}


@media (max-width: 768px) {
  .container {
    grid-template-rows: auto 12rem auto;
  }

  .blogposts__cards {
    grid-template-columns: 1fr;
    gap: 0.6rem;
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-rows: auto 33rem auto;
  }
}

@media (max-width: 1200px) {
  .container {
    grid-template-rows: auto 8rem auto;
    margin: 0 3rem;
  }

  .blogposts {
    grid-column: 1 / span 4;
  }

  .blogposts__blogposts__sidenav {
    display: block;
    grid-column: 4;
  }

  .blogposts__pagination {
    grid-column: 2 / span 2;
  }
}
