
.blogposts__container {
  margin: 0rem 6rem;
  height: 100%;
  position: relative;
  /* background-color: rgb(93, 0, 255); */
}

.blogposts__filters {
  position: relative;
}

.blogposts__header {
  color: var(--color-secondary-text);
  font-weight: normal;
  font-size: 30px;
  padding: 1.2rem;
}

.blogposts__cards {
  display: grid;
  grid-template-columns: 1fr;
  margin: 0 0 0 0;
  width: 100%;
  gap: 0.8rem;

  align-content: center;
  justify-content: center;
}

.blogposts__pagination {
  padding-top: 30px;
}

@media (max-width: 1400px) {
  .blogposts__container {
    /* background-color: rgb(0, 42, 255); */
    margin: 0rem 4rem;
  }
}

@media (max-width: 1200px) {
  .blogposts__container {
    /* background-color: rgb(0, 174, 255); */
    margin: 0rem 2rem;
  }
}

@media (max-width: 991px) {
  .blogposts__container {
    /* background-color: rgb(0, 255, 106); */
    margin: 0rem 0rem;
  }
}

@media (max-width: 768px) {
  .blogposts__container {
    /* background-color: rgb(179, 255, 0); */
    margin: 0rem 0rem;
  }
}

@media (max-width: 440px) {
  .blogposts__container {
    /* background-color: rgb(255, 166, 0); */
    margin: 0rem 0rem;
  }

  .blogposts__cards {
    gap: 4.8rem;
  }
}
