.counter-button {
    background: rgba(0,0,0,0.05);
    border-radius: 8px;
    padding: 1.5rem;
    font-weight: 500;
}

.counter-button p {
    margin: 0 0 1.5rem 0;
}

.counter-button code {
    padding: 0.2rem 0.3rem;
    background: rgba(0,0,0,0.1);
    border-radius: 0.25rem;
}

.counter {
    background: black;
    color: white;
    border: none;
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    display: inline-block;
    cursor: pointer;
}