.filters {
  padding: 1.4rem;
  /* border-radius: 0.6rem; */
  /* border: 1px solid var(--color-primary-variant); */
}

.filters__header {
  font-size: 22px;
  color: var(--color-secondary-text);
}

.filters__tags {
  display: flex;
  flex-wrap: wrap;
}

.filters__tags .tag {
  padding: 0.25rem 0.5rem;
  margin: 0.5rem 0.25rem;
  font-size: .9rem;
  border: 1px solid var(--color-secondary-variant);
  border-radius: 10px;
  opacity: 0.5;
  transition: opacity 0.4s;
  cursor: pointer;
}

.filters__tags .tag .global-tag {
  font-size: 5.1rem;
  color: var(--color-primary-text-variant);
  cursor: pointer;
}

.filters__tags .tag.tag__selected {
  opacity: 1;
  border-color: var(--color-primary);
}

.filters__tags .tag:hover {
  opacity: 1;
}