.tooltip {
    position: relative;
    margin-right: 0.4rem;
}

.tooltip__box {
    background-color: var(--color-secondary);
    position: absolute;
    padding: 0.2rem;
    top: calc(70% + 0.6rem);
    right: calc(10%);
    display: none;
}

.tooltip__box.visible {
    display: block;
}

.tooltip__box_text {
    margin-top: 1.2rem;
    background-color: var(--color-primary-variant);
    border-radius: 0.2rem;
    border: 0.5px solid transparent;
    color: var(--color-primary);
    color: var(--color-primary-text);
    padding: 0.2rem 0.6rem;
    letter-spacing: 1px;
}

.tooltip__box_arrow_below {
    position: absolute;
    top: -0.4rem;
    right: 0%;
    border-width: 0.7rem;
    border-style: solid;
    border-color: transparent transparent var(--color-white) transparent;
}

.tooltip__box_arrow_above {
    position: absolute;
    bottom: -0.4rem;
    right: 0%;
    border-width: 0.7rem;
    border-style: solid;
    border-color: transparent transparent var(--color-white) transparent;
}
