.footer {
  padding: 1rem;

  border-top: 1px solid var(--color-primary-variant);
}

.devTeam {
  color: var(--color-primary-variant);
}

@media (min-width: 768px) {
  .footer {
    padding: 1rem 3rem;
  }
}

@media (min-width: 1200px) {
  .footer {
    padding: 1rem 5.5rem;
  }
}