.markdown {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  color: var(--color-lightgrey);
  overflow: hidden;
  font-family: 'Helvetica Neue', Helvetica, 'Segoe UI', Arial, freesans,
    sans-serif;
  font-size: 16px;
  line-height: 1.6;
  word-wrap: break-word;
}

.markdown a {
  background: transparent;
}

.markdown a:active,
.markdown a:hover {
  outline: 0;
}

.markdown strong {
  font-weight: bold;
}

.markdown h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

.markdown img {
  border: 0;
}

.markdown hr {
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  height: 0;
}

/* .markdown pre {
  overflow: auto;
} */

.markdown kbd {
  font-family: monospace, monospace;
  font-size: 1em;
  padding: 0.5em;
  border-radius: 5px;
  border: 1px solid rgb(194, 71, 71);
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.markdown input {
  color: inherit;
  font: inherit;
  margin: 0;
}

.markdown html input[disabled] {
  cursor: default;
}

.markdown input {
  line-height: normal;
}

.markdown input[type='checkbox'] {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
}

.markdown table {
  border-collapse: collapse;
  border-spacing: 0;
}

.markdown td,
.markdown th {
  padding: 0;
}

.markdown * {
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown input {
  font: 13px/1.4 Helvetica, arial, freesans, clean, sans-serif, 'Segoe UI Emoji',
    'Segoe UI Symbol';
}

.markdown a {
  color: #4183c4;
  text-decoration: none;
}

.markdown a:hover,
.markdown a:focus,
.markdown a:active {
  text-decoration: underline;
}

.markdown hr {
  height: 0;
  margin: 15px 0;
  overflow: hidden;
  background: transparent;
  border: 0;
  border-bottom: 1px solid #ddd;
}

.markdown hr:before {
  display: table;
  content: '';
}

.markdown hr:after {
  display: table;
  clear: both;
  content: '';
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  margin-top: 15px;
  margin-bottom: 15px;
  line-height: 1.1;
  color: var(--color-white);
}

.markdown h1 {
  font-size: 30px;
}

.markdown h2 {
  font-size: 21px;
}

.markdown h3 {
  font-size: 16px;
}

.markdown h4 {
  font-size: 14px;
}

.markdown h5 {
  font-size: 12px;
}

.markdown h6 {
  font-size: 11px;
}

.markdown blockquote {
  margin: 0;
}

.markdown ul,
.markdown ol {
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}

.markdown ol ol,
.markdown ul ol {
  list-style-type: lower-roman;
}

.markdown ul ul ol,
.markdown ul ol ol,
.markdown ol ul ol,
.markdown ol ol ol {
  list-style-type: lower-alpha;
}

.markdown dd {
  margin-left: 0;
}

.markdown code {
  font: 12px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.markdown kbd {
  background-color: #e7e7e7;
  background-image: -webkit-linear-gradient(#fefefe, #e7e7e7);
  background-image: linear-gradient(#fefefe, #e7e7e7);
  background-repeat: repeat-x;
  border-radius: 2px;
  border: 1px solid #cfcfcf;
  color: #000;
  padding: 3px 5px;
  line-height: 10px;
  font: 11px Consolas, 'Liberation Mono', Menlo, Courier, monospace;
  display: inline-block;
}

.markdown > *:first-child {
  margin-top: 0 !important;
}

.markdown > *:last-child {
  margin-bottom: 0 !important;
}

.markdown .anchor {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  display: block;
  padding-right: 6px;
  padding-left: 30px;
  margin-left: -30px;
}

.markdown .anchor:focus {
  outline: none;
}

.markdown h1,
.markdown h2,
.markdown h3,
.markdown h4,
.markdown h5,
.markdown h6 {
  position: relative;
  margin-top: 1em;
  margin-bottom: 16px;
  font-weight: bold;
  line-height: 1.4;
}

.markdown h1 .octicon-link,
.markdown h2 .octicon-link,
.markdown h3 .octicon-link,
.markdown h4 .octicon-link,
.markdown h5 .octicon-link,
.markdown h6 .octicon-link {
  display: none;
  color: #000;
  vertical-align: middle;
}

.markdown h1:hover .anchor,
.markdown h2:hover .anchor,
.markdown h3:hover .anchor,
.markdown h4:hover .anchor,
.markdown h5:hover .anchor,
.markdown h6:hover .anchor {
  height: 1em;
  padding-left: 8px;
  margin-left: -30px;
  line-height: 1;
  text-decoration: none;
}

.markdown h1:hover .anchor .octicon-link,
.markdown h2:hover .anchor .octicon-link,
.markdown h3:hover .anchor .octicon-link,
.markdown h4:hover .anchor .octicon-link,
.markdown h5:hover .anchor .octicon-link,
.markdown h6:hover .anchor .octicon-link {
  display: inline-block;
}

.markdown h1 {
  padding-bottom: 0.3em;
  font-size: 2.25em;
  line-height: 1.2;
  /* border-bottom: 1px solid var(--color-darkgrey); */
}

.markdown h2 {
  padding-bottom: 0.3em;
  font-size: 1.75em;
  line-height: 1.225;
  /* border-bottom: 1px solid var(--color-darkgrey); */
}

.markdown h3 {
  font-size: 1.5em;
  line-height: 1.43;
}

.markdown h4 {
  font-size: 1.25em;
}

.markdown h5 {
  font-size: 1em;
}

.markdown h6 {
  font-size: 1em;
  color: #777;
}

.markdown p,
.markdown blockquote,
.markdown ul,
.markdown ol,
.markdown dl,
.markdown table {
  margin-top: 0;
  margin-bottom: 16px;
}


.markdown hr {
  height: 4px;
  padding: 0;
  margin: 16px 0;
  background-color: var(--color-silver);
  border: 0 none;
}

.markdown ul,
.markdown ol {
  padding-left: 2em;
}

.markdown ul ul,
.markdown ul ol,
.markdown ol ol,
.markdown ol ul {
  margin-top: 0;
  margin-bottom: 0;
}

.markdown li > p {
  margin-top: 16px;
}

.markdown dl {
  padding: 0;
}

.markdown dl dt {
  padding: 0;
  margin-top: 16px;
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
}

.markdown dl dd {
  padding: 0 16px;
  margin-bottom: 16px;
}

.markdown blockquote {
  padding: 0 15px;
  color: var(--color-lightgrey);
  border-left: 4px solid var(--color-silver);
}

.markdown blockquote > :first-child {
  margin-top: 0;
}

.markdown blockquote > :last-child {
  margin-bottom: 0;
}

.markdown table {
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

.markdown table th {
  font-weight: bold;
}

.markdown table th,
.markdown table td {
  padding: 6px 13px;
  border: 1px solid var(--color-lightgrey);
}

.markdown table tr {
  background-color: var(--color-white);
  border-top: 1px solid #ccc;
}

.markdown table tr:nth-child(2n) {
  background-color: var(--color-lightgrey);
}

.markdown img {
  max-width: 100%;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.markdown code {
  padding: 0;
  padding-top: 0.2em;
  padding-bottom: 0.2em;
  margin: 0;
  font-size: 90%;
  background-color: var(--color-secondary);
  border-radius: 3px;
}

.markdown code:before,
.markdown code:after {
  letter-spacing: -0.2em;
  content: '\00a0';
}


.markdown pre {
  border: 1px solid var(--color-grey);
  /* background-color: var(--color-secondary); */
  padding: 0rem 0.4rem;
  margin: 1rem 0;
  /* margin-top: 0;
  margin-bottom: 0; */
  font: 0.8rem Consolas, 'Liberation Mono', Menlo, Courier, monospace;
}

.markdown pre > code {
  padding: 0;
  margin: 0;
  font-size: 100%;
  word-break: normal;
  white-space: pre;
  background: transparent;
  border: 0;
}

.markdown .highlight {
  margin-bottom: 16px;
}

.markdown .highlight pre {
  padding: 16px;
  overflow: auto;
  font-size: 85%;
  line-height: 1.45;
  background-color: #f7f7f7;
  border-radius: 3px;
}

.markdown .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

/* .markdown pre {
  word-wrap: normal;
} */

.markdown pre code {
  display: inline;
  max-width: initial;
  padding: 0;
  margin: 0;
  overflow: initial;
  line-height: inherit;
  word-wrap: normal;
  background-color: transparent;
  border: 0;
}

.markdown pre code:before,
.markdown pre code:after {
  content: normal;
}

.markdown .highlight {
  background: #fff;
}

.markdown .highlight .mf,
.markdown .highlight .mh,
.markdown .highlight .mi,
.markdown .highlight .mo,
.markdown .highlight .il,
.markdown .highlight .m {
  color: #945277;
}

.markdown .highlight .s,
.markdown .highlight .sb,
.markdown .highlight .sc,
.markdown .highlight .sd,
.markdown .highlight .s2,
.markdown .highlight .se,
.markdown .highlight .sh,
.markdown .highlight .si,
.markdown .highlight .sx,
.markdown .highlight .s1 {
  color: #df5000;
}

.markdown .highlight .kc,
.markdown .highlight .kd,
.markdown .highlight .kn,
.markdown .highlight .kp,
.markdown .highlight .kr,
.markdown .highlight .kt,
.markdown .highlight .k,
.markdown .highlight .o {
  font-weight: bold;
}

.markdown .highlight .kt {
  color: #458;
}

.markdown .highlight .c,
.markdown .highlight .cm,
.markdown .highlight .c1 {
  color: #998;
  font-style: italic;
}

.markdown .highlight .cp,
.markdown .highlight .cs {
  color: #999;
  font-weight: bold;
}

.markdown .highlight .cs {
  font-style: italic;
}

.markdown .highlight .n {
  color: #333;
}

.markdown .highlight .na,
.markdown .highlight .nv,
.markdown .highlight .vc,
.markdown .highlight .vg,
.markdown .highlight .vi {
  color: #008080;
}

.markdown .highlight .nb {
  color: #0086b3;
}

.markdown .highlight .nc {
  color: #458;
  font-weight: bold;
}

.markdown .highlight .no {
  color: #094e99;
}

.markdown .highlight .ni {
  color: #800080;
}

.markdown .highlight .ne {
  color: #990000;
  font-weight: bold;
}

.markdown .highlight .nf {
  color: #945277;
  font-weight: bold;
}

.markdown .highlight .nn {
  color: #555;
}

.markdown .highlight .nt {
  color: #000080;
}

.markdown .highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.markdown .highlight .gd {
  color: #000;
  background-color: #fdd;
}

.markdown .highlight .gd .x {
  color: #000;
  background-color: #faa;
}

.markdown .highlight .ge {
  font-style: italic;
}

.markdown .highlight .gr {
  color: #aa0000;
}

.markdown .highlight .gh {
  color: #999;
}

.markdown .highlight .gi {
  color: #000;
  background-color: #dfd;
}

.markdown .highlight .gi .x {
  color: #000;
  background-color: #afa;
}

.markdown .highlight .go {
  color: #888;
}

.markdown .highlight .gp {
  color: #555;
}

.markdown .highlight .gs {
  font-weight: bold;
}

.markdown .highlight .gu {
  color: #800080;
  font-weight: bold;
}

.markdown .highlight .gt {
  color: #aa0000;
}

.markdown .highlight .ow {
  font-weight: bold;
}

.markdown .highlight .w {
  color: #bbb;
}

.markdown .highlight .sr {
  color: #017936;
}

.markdown .highlight .ss {
  color: #8b467f;
}

.markdown .highlight .bp {
  color: #999;
}

.markdown .highlight .gc {
  color: #999;
  background-color: #eaf2f5;
}

.markdown .octicon {
  font: normal normal 16px octicons-anchor;
  line-height: 1;
  display: inline-block;
  text-decoration: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.markdown .octicon-link:before {
  content: '\f05c';
}

.markdown .task-list-item {
  list-style-type: none;
}

.markdown .task-list-item + .task-list-item {
  margin-top: 3px;
}

.markdown .task-list-item input {
  float: left;
  margin: 0.3em 0 0.25em -1.6em;
  vertical-align: middle;
}
