.container {
  /* display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 8rem auto;
  grid-gap: 20px; */
  text-align: center;
  height: 100%;
  position: relative;

}
  
.blogposts {
  grid-column: 1 / span 3;
}

.blogposts .blogposts__header {
  font-weight: normal;
  font-size: 30px;
  /* color: #12284c; */
}

.blogposts .blogposts__sidenav {
  position: relative;
  /* width: 360px; */
  /* top: 100px; */
  /* right: 30px; */
  /* box-shadow: 0px 1px 3px #666; */
}

/* 
.navigation-by-tag {
  display: flex;
  flex-flow: column nowrap;
}

.navigation-by-tag .tag {
  margin: 0.5rem 0;
} */

.blogposts .pagination {
  /* grid-column: 1 / span 3; */
  /* grid-row: 3; */
  padding-top: 30px;
}

/* .blogposts .cards-deck {
  display: grid;
  grid-template-columns: repeat(auto-fill, 100%);
  grid-auto-rows: 540px;
  grid-gap: 20px;
} */

.blogposts .cards-deck {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 1rem;
  padding: 1rem;
  /* place-items: center; */
  justify-items: center;
  justify-content: center;
}



@media (max-width: 768px) {
  .container {
    grid-template-rows: auto 12rem auto;
  }

  .blogposts .cards-deck {
    /* grid-template-columns: repeat(auto-fill, 320px); */
    grid-template-columns: 1fr 1fr;
    gap: 0.6rem;
  }
}

@media (max-width: 991px) {
  .container {
    grid-template-rows: auto 33rem auto;
  }
}


@media (max-width: 1200px) {
  .container {
    grid-template-rows: auto 8rem auto;
    margin: 0 3rem;
  }

  .blogposts .blogposts {
    grid-column: 1 / span 4;
  }

  .blogposts .blogposts__sidenav {
    display: block;
    grid-column: 4;
  }

  .blogposts .pagination {
    grid-column: 2 / span 2;
  }
}
